@import "abstracts/variables.scss";
@import "themes/theme.scss";
@import "pages/index.scss";
@import "layout/header.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway",sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}
.main {
  &__box-img {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.30)
      ),
      url("../img/header-ship.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}
